h5 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 32px;
}

h4 {
	margin-top: 0px;
	margin-bottom:0px;
	font-size: 40px;
}
/*
.region{
	color:white;
}*/

.portion{
	height:100%;
	width:29%;
}
.center-portion{
	height:100%;
	width:40%;
	overflow-y: auto;
	margin-top: 0px;
	margin-bottom:0px;
}

.width: {
	width: 100%;
}

.height:{
	min-height: 100%;
}

.relative{
	position: relative;
}

html{
	height: 100%;
	background-color: rgba(0,0,0,1);
	color: white;
}
body{
	margin:0;
	height:100%;
	overflow-y: hidden;
	background-color: rgba(0,0,0,1);
	color: white;
	font-family: "Open Sans",sans-serif;
}


.left {
	float: left;
}
.right{
	float: right;
}

.border-basic{
	/*border: 1px solid black;*/
}

.segment{
	display: block;
	width: 100%;
	overflow-y: auto;
	overflow-x: none;
	height: 50%;
}
.upper{
	background-color: #038387;
}

.cover-width {
	width:100%;
}


.cover-height {
	height:100%;
}

.selected {
	background-color: light blue;
}

.code-statements .box-item{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	border-left:1px solid blue;
	
}


.statements{
	margin-top: 5px;
	margin-bottom: 5px;

}

ul {
	padding-left: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.property-heading{
	font-size: 20px;
	color: #00cc6a;
}

.code-region{
	padding-bottom: 0px;
	padding-top:0px;
	padding-left: 0px;
	min-height: 20px;
	border-top: 1px solid green;
	border-bottom:1px dashed blue;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbar {
	display: block;
	position: absolute;
	bottom: 0px;
	background-color:#0000FF; 
	height:20px;
	width:100%;
}

.absolute{
	position:absolute;
}

#recommender{
	position:absolute;

	top:10px;
	left:10px;
	width:200px;
	height: 200px;
	border: 1px dashed grey;
	display:none;
	background-color: blue;
	color: white;
	
}

#shortcuts{
	left:300px;
	top:10px;
	width: 200px;
	height:200px;
	border: 1px dashed grey;
	position:absolute;
	display:none;
	background-color: blue;
	color: white;

}

#numberdumber{
	right:10px;
	bottom:10px;
	width:200px;
	height:200px;
	border:1px dashed grey;
	position:absolute;
	background-color: blue;
	color: white;
	display: none;
}